@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,500;1,600;1,700&display=swap');

:root {
    --main-color: #22262A;
}

::selection {
    background-color: var(--main-color);
    color: #F2F2F2;
}

* {
    box-sizing: border-box;
}

html {
    background-color: #e5e5e5;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins';
    font-size: 18px;
    color: var(--main-color);
    background-color: #FFFFFF;
    text-align: center;
    margin: 0;
    padding: 0;
    min-width: 1350px;
}

input::placeholder {
    font-family: 'Poppins';
    font-size: 18px;
    color: var(--main-color);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    margin-left: 10%;
    margin-right: 10%;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    width: 100%;
    height: 93px;
}

header a img {
    display: flex;
    align-items: center;
}

header ul {
    display: flex;
    list-style-type: none;
    width: 40%;
    justify-content: space-around;
}

a {
    color: var(--main-color);
    text-decoration: none;
}

a:visited {
    color: var(--main-color);
}

a:hover {
    font-size: 1.1em;
}

a:active {
    color: #FF5500;
}

a:focus {
    font-size: 1.2em;
}

.logo {
    text-align: left;
}

.login {
    display: flex;
    justify-content: space-between;
    width: 9em;
    align-items: center;
}

.login .signup {
    border: 1px solid var(--main-color);
    padding: 0.5em 0.3em 0.5em 0.3em;
    border-radius: 7px;
}

.mainpage > section {
    padding-top: 7.5%;
}

main span {
    font-size: 18px;
    display: block;
}

.upperPage {
    display: flex;
    height: 745px;
    background-image: url(../img/back.jpg);
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;    
    justify-content: flex-end;
    align-items: flex-end;
}

.upperText {
    width: auto;
    height: 35%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 8%;
    margin-right: 3%;
    font-weight: 500;
}

.upperPage h1 {
    font-size: 80px;
    font-weight: bold;
    line-height: 105px; 
    margin: 0;
}

.upperPage .buttons {
    display: flex;
    justify-content: space-between; 
    width: 73%;
    margin-top: 6%;
    height: 13%;
}

.upperPage .button {
    background-color: var(--main-color);
    width: 45%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upperPage .button {
    color: #FFFFFF;
}

.upperPage .button a:visited {
    color: #FFFFFF;
}

.catagory {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.images {
    width: 75%;
    height: 579px; 
    display: flex;
    justify-content: space-between;
}

.block1 {
    display: flex;
    flex-direction: column;
    justify-content: inherit;
}

.block11 {
    display: flex;
    justify-content: inherit;
}

.block2 {
    position: relative;
}

.block2 img {
    display: inline-block;
    position: relative;
}

.block2 .button {
    position: absolute;
    left: 28px;
    bottom: 26px;
    background-color: #FFFFFF;
    padding: 0.6% 3.5% 0.6% 3.5%;
    font-weight: 500;
}

.fashion span {
    font-size: 15px;
}

.fashion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fashion h2 {
    margin: 0;
    margin-bottom: 1%;
}

.fashion .tape {
    display: flex;
    flex-direction: row;
    padding-top: 4%;
    width: 75%;
    justify-content: space-between;
}

.fashion .product {
    height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product .description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.span_block {
    display: flex;
    text-align: start;
    margin-top: 3px;
}

.span_block:nth-child(1) {
    font-weight: 300;
}

.span_block:nth-child(2) {
    font-weight: 550;
}

.span_block:nth-child(3) {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.prev_price {
    text-decoration: line-through;
}

.new_price {
    color: #CF2929;
}

.avone {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avone_pictures {
    width: 73%;
    display: flex;
    justify-content: space-between;
    margin-top: 6%;
}

.avone_pictures .left {
    display: flex;
    align-items: flex-end;
}

.avone_pictures .right {
    display: flex;
    flex-direction: column;
}

.avone_pictures .bottom {
    display: flex;
    align-items: flex-end;
    justify-content: right;
}


.avone_pictures .img1 {
    display: flex;
    align-self: flex-end;
}

.avone_pictures .img2 {
    position: relative;
    bottom: 17%;
    left: 22.7%;
    border: 26px solid #FFFFFF;
}

.avone_pictures .button {
    position: relative;
    border-bottom: 1px solid;
    padding-bottom: 1%;
    bottom: 26.7%;
    left: 22.8%;
}

.left img {
    position: relative;
    bottom: 11.5%;
}

.tachen {
    background-image: url(../img/tachen.jpg);
    height: 745px;
    padding: 0;
    display: flex;
}

.tachen .text {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;
    justify-content: flex-end;
    align-items: flex-start;
    margin-bottom: 10%;
    margin-left: 13.3%;
}

.tachen .text * {
    width: 73.3%;
}

.tachen span {
    font-weight: 500;
}

.tachen h2 {
    font-size: 80px;
    margin: 0;
}

.tachen .button {
    display: flex;
    background-color: var(--main-color);
    color: #FFFFFF;
    font-weight: 500;
    width: 30%;
    height: 6%;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
}

footer {
    background-color: #E7F5F8;
    position: sticky;
}

footer .heading {
    font-size: 20px;
    font-weight: 600;
}

footer .subscription .heading {
    font-size: 25px;
    font-weight: 700;
}

footer .gotoinfo {
    display: flex;
    height: 606px;
    padding-top: 8%;
    background-color: #F2F8FC;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
}

footer span, a {
    display: block;
}

footer .aboutus {
    display: flex;
    flex-direction: column;
    width: 38%;
    align-items: flex-start;
    text-align: left;
    justify-content: space-between;
    height: 55%;
}

footer .description {
    margin-top: -5%;
}

footer .location {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55%;
}

footer .contacts {
    margin-top: -5%;
    margin-bottom: -7%;
}

footer .email {
    border-bottom: 1px solid;
    margin-bottom: 2%;
}

footer .menu {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
}

footer .subscription {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 25%;
}

footer .input {
    width: inherit;
    position: relative;
    display: flex;
    height: 30%;
    align-items: center;
    margin-top: 4%;
    width: 98%;
}

footer input {
    border: none;
    outline: none;
    width: 92%;
    height: 45px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0 0.2em #D4D4D4;
}

footer label {
    display: block;
}

footer input::placeholder {
    padding-left: 10px;
}

.input button {
    position: absolute;
    right: 2em;
    align-items: center;
    justify-content: center;
    width: 15%;
    background-color: #FFFFFF;
    height: 45px;
    border: none;
    background: none;
    font-weight: 600;
}

footer .menu li {
    list-style-type: none;
}

footer .menu ul {
    padding-left: 0;
    margin-top: 2em;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

footer .goto {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

footer .goto div {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
}

footer .copyright {
    height: 93px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form {
    background-color: #F2F2F2;
    padding-top: 5em;
    padding-bottom: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main .registration {
    width: 33%;
    height: 950px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 3em;
    box-shadow: 0 0 0.5em #D4D4D4;
    border-radius: 1%;
    text-align: left;
}

main #reg {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 80%;
}

.registration .private, .registration .contact {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-top: 1em;
    margin-bottom: 1em;
}

.registration .private {
    height: 60%;
}

.registration .contact {
    height: 40%;
}

.registration .private > span, .registration .contact > span {
    font-weight: 600;
}

main .registration input {
    height: 2em;
    width: 22em;
}

main .registration input:focus {
    outline: none;
    border: 5px solid #AAAAAA;
    border-radius: 5px;
}

main .registration input:not([type="radio"], [type="checkbox"]):focus +label {
    color: #FF5500;
}  

.sex {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-between;
    height: 2.7em;
}

.sex .radio {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 130px;
    align-items: center;
    font-size: 0.8em;
}

.sex .radio input {
    height: 1em;
    width: 1em;
}

.registration input[type="radio"]:checked +label, .registration input[type="checkbox"]:checked +label {
    font-weight: bolder;
}

.registration input:required:focus {
    border: 1px solid #FF5500;
    border-radius: 0;
}

.call {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 2.7em;
}

.call .time {
    display: flex;
    justify-content: space-between;
    width: 350px;
    align-items: center;
    font-size: 0.8em;
}

.call .time input {
    height: 1em;
    width: 1em;
}

main form label {
    text-align: left;
}

main form #send {
    background-color: #868DFF;
    border: 0;
    color: white;
    height: 3em;
    margin-top: 1em;
}

main form #reset {
    margin-top: 1em;
    background-color: #DDDDDD;
    border: 0;
    height: 3em;
    margin-top: 1em;
}

.contact .call {
    display: flex;
    flex-direction: column-reverse;
}

main form #reset:disabled {
    opacity: 0.4;
}

main form #send:hover {
    background-color: #5660FF;
}

main form #reset:hover {
    background-color: #A2A2A2;
}

main form #reset:hover:disabled {
    background-color: #DDDDDD;
}

.defs {
    text-align: left;
    background-color: white;
    margin-top: 5em;
    padding: 2em 3em 2em 3em;
    box-shadow: 0 0 0.5em #D4D4D4;
    border-radius: 10px;
}

.defs dt {
    font-weight: bold;
    font-size: 1.3em;
}

.pseudo span {
    display: inline;
}

.defs dt::first-letter {
    font-size: 2em;
    color: red;
}

.defs input[type="checkbox"]:checked +span {
    text-decoration: line-through;
}

.defs dd::before {
    content: "\1F6C8  ";
}

.elements div:nth-child(even) {
    font-weight: bolder;
    text-decoration: underline;
}

.classes div:nth-child(odd) {
    font-weight: lighter;
    text-decoration: underline;
}

.elements, .classes {
    margin-left: 3em;
}